Task: Generating Report Cards from Excel (PDF form)
You are given an Excel file named student_scores.xlsx containing the following columns:

Student ID | Name | Subject Score
Instructions:
Please write a Python script that does the following:

Reads the data from the Excel file using the pandas library. Groups the data by student and calculates their total and average scores across all subjects. Generates a personalized PDF report card for each student using the ReportLab library. Each report card should include: Student Name / Total Score / Average Score/ A table showing subject-wise scores. Save the PDF files with the naming format report_card_<StudentID>.pdf. Ensure that your script includes proper error handling for missing or invalid data in the Excel file.

Please provide a brief explanation of your approach and share the Python script you would use for this task.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student-scores.csv')
df.head(3)

,id,first_name,last_name,full_name,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1.0,Paul,Casey,Paul Casey,73.0,81.0,93.0,97.0,63.0,80.0,87.0
1,2.0,Danielle,Sandoval,Danielle Sandoval,90.0,86.0,96.0,100.0,90.0,88.0,90.0
2,3.0,Tina,Andrews,Tina Andrews,81.0,97.0,95.0,96.0,65.0,77.0,94.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2000 non-null   float64
 1   first_name       2000 non-null   object
 2   last_name        2000 non-null   object
 3   full_name        2001 non-null   object
 4   math_score       2000 non-null   float64
 5   history_score    2000 non-null   float64
 6   physics_score    2000 non-null   float64
 7   chemistry_score  2000 non-null   float64
 8   biology_score    2000 non-null   float64
 9   english_score    2000 non-null   float64
 10  geography_score  2000 non-null   float64
dtypes: float64(8), object(3)
memory usage: 172.1+ KB

In [4]:
final_df = df[['full_name',	'math_score',	'history_score',	'physics_score',	'chemistry_score',	'biology_score',	'english_score',	'geography_score']]

In [5]:
final_df.isnull().sum()

full_name          0
math_score         1
history_score      1
physics_score      1
chemistry_score    1
biology_score      1
english_score      1
geography_score    1
dtype: int64

In [6]:
final_df = final_df.drop(index=2000) # it is null

In [7]:
final_df.duplicated().sum()

0

In [8]:
final_df.head(3)

,full_name,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,Paul Casey,73.0,81.0,93.0,97.0,63.0,80.0,87.0
1,Danielle Sandoval,90.0,86.0,96.0,100.0,90.0,88.0,90.0
2,Tina Andrews,81.0,97.0,95.0,96.0,65.0,77.0,94.0

In [9]:
final_df['total_score'] = df['math_score'] + df['history_score'] + df['physics_score'] + df['chemistry_score'] + df['biology_score'] + df['english_score'] + df['geography_score']

In [10]:
final_df['average_score'] = (final_df['total_score'] / 7).round(1)

In [11]:
final_df.head(2)

,full_name,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,Paul Casey,73.0,81.0,93.0,97.0,63.0,80.0,87.0,574.0,82.0
1,Danielle Sandoval,90.0,86.0,96.0,100.0,90.0,88.0,90.0,640.0,91.4

In [12]:
from reportlab.lib import colors
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

In [13]:
def report_card(df):
    for _, row in df.iterrows():
        full_name = row['full_name']
        total_score  = row['total_score']
        average_score = row['average_score']

        subject_scores = [['Math', row['math_score']],['History', row['history_score']],['Physics', row['physics_score']],['Chemistry', row['chemistry_score']],['Biology', row['biology_score']],['English', row['english_score']],['Geography', row['geography_score']]]

        file_name = f"report_card_{full_name.replace(' ','_')}.pdf"
        pdf = SimpleDocTemplate(file_name, pagesize=letter)
        elements = []

        style = getSampleStyleSheet()
        elements.append(Paragraph(f"<b>Report Card</b>", style['Title']))
        elements.append(Paragraph(f"Full Name: {full_name}", style['Normal']))
        elements.append(Paragraph(f"Total Score: {total_score}", style['Normal']))
        elements.append(Paragraph(f"Average Score: {average_score}",style['Normal']))
        elements.append(Paragraph("<br/>",style['Normal']))

        table_data = [['Subject', 'Score']] + subject_scores
        table = Table(table_data)
        table.setStyle(TableStyle([
            ('BACKGROUND', (0, 0), (-1, 0), colors.grey),  # Header row background
            ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),  # Header text color
            ('ALIGN', (0, 0), (-1, -1), 'CENTER'),  # Center align all cells
            ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),  # Header font bold
            ('BOTTOMPADDING', (0, 0), (-1, 0), 12),  # Padding for header
            ('BACKGROUND', (0, 1), (-1, -1), colors.beige),  # Background for other rows
            ('GRID', (0, 0), (-1, -1), 1, colors.black),  # Table grid lines
        ]))

        elements.append(table)

        pdf.build(elements)
        print(f"Report_card_generated: {file_name}")

In [14]:
# for sample only 5 first

In [15]:
new = final_df.head(15)
report_card(new)

Report_card_generated: report_card_Paul_Casey.pdf
Report_card_generated: report_card_Danielle_Sandoval.pdf
Report_card_generated: report_card_Tina_Andrews.pdf
Report_card_generated: report_card_Tara_Clark.pdf
Report_card_generated: report_card_Anthony_Campos.pdf
Report_card_generated: report_card_Kelly_Wade.pdf
Report_card_generated: report_card_Anthony_Smith.pdf
Report_card_generated: report_card_George_Short.pdf
Report_card_generated: report_card_Stanley_Gutierrez.pdf
Report_card_generated: report_card_Audrey_Simpson.pdf
Report_card_generated: report_card_Gabrielle_White.pdf
Report_card_generated: report_card_Clinton_Randolph.pdf
Report_card_generated: report_card_Patricia_Gomez.pdf
Report_card_generated: report_card_Pamela_Jackson.pdf
Report_card_generated: report_card_Laura_Jackson.pdf